<div class="card horizontal small">
     <div class="card-image">
       <img src="https://www.dinneratthezoo.com/wp-content/uploads/2017/12/meal-prep-burrito-bowls.jpg">
     </div>
     <div class="card-stacked">
       <div class="card-content">
         <p>{{name}}</p>
       </div>
       <div class="card-action">
         {{link-to "ir a detalles" 'carrot.detail' mealId}}
       </div>
     </div>
   </div>
