<h1>actualizar comida</h1>
{{input type="text" value=model.name}}
<button {{action 'editMeal' model on="click"}}>actualizar</button>
<button {{action 'deleteMeal' model on="click"}}>borrar comida</button>
